<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="w-full flex itens-center justify-center flex-col px-10">
            <ul class="w-50 flex itens-center justify-center px-10 g-1">
                <li><a class="flex flex-col justify-center itens-center text-dark" href=""><i class="fa-solid fa-house"></i>Home</a></li>
                <li><a class="flex flex-col justify-center itens-center text-dark" href=""><i class="fa-solid fa-magnifying-glass"></i>Busca</a></li>
                <li><a class="flex flex-col justify-center itens-center text-dark" href=""><i class="fa-solid fa-signal-stream"></i>Serviços</a></li>
                <li><a class="flex flex-col justify-center itens-center text-dark" href=""><i class="fa-solid fa-books"></i>Agendamentos</a></li>
            </ul>
            <div class="line">

            </div>
        </nav>
    </header>
    <section class="bg-dark text-white content">
        <h1>Agendamento de Lava Rápido</h1>
    <form action="/agendar" method="post">
        Veículo: <input type="text" name="veiculo"><br>
        Placa: <input type="text" name="placa"><br>
        Serviço: 
        <select name="servico">
            <option value="Lavagem técnica detalhada">Lavagem técnica detalhada</option>
            <option value="Higienização de bancos">Higienização de bancos</option>
            <option value="Higienização de bancos de couro e hidratação">Higienização de bancos de couro e hidratação</option>
            <option value="Higienização de teto">Higienização de teto</option>
            <option value="Higienização de carpete">Higienização de carpete</option>
            <option value="Higienização interna completa">Higienização interna completa</option>
            <option value="Restauração de farol">Restauração de farol</option>
            <option value="Lavagem técnica de motor">Lavagem técnica de motor</option>
        </select><br>
        Endereço: <input type="text" name="endereco"><br>
        Nome: <input type="text" name="nome"><br>
        Telefone: <input type="text" name="telefone"><br>
        Data: <input type="date" name="data"><br>
        Hora: 
        <select name="data_hora">
            {% for hora in range(8, 19) %}
                {% for minuto in ['00', '15', '30', '45'] %}
                    <option value="{{ '%02d:%s' % (hora, minuto) }}">{{ '%02d:%s' % (hora, minuto) }}</option>
                {% endfor %}
            {% endfor %}
        </select><br>
        <input type="submit" value="Agendar">
    </form>
    </section>
    
</body>
</html>
