<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/index.css">
    <link rel="stylesheet" href="https://site-assets.fontawesome.com/releases/v6.5.2/css/all.css">
    <title>Document</title>
</head>
<body>
    <header>
        <nav class="w-full flex itens-center justify-center flex-col px-10">
            <ul class="w-50 flex itens-center justify-center px-10 g-1">
                <li><a class="flex flex-col justify-center itens-center text-dark gpx-5" href=""><i class="fa-solid fs-10 fa-house"></i>Home</a></li>
                <li><a class="flex flex-col justify-center itens-center text-dark gpx-5" href=""><i class="fa-solid fs-10 fa-magnifying-glass"></i>Busca</a></li>
                <li><a class="flex flex-col justify-center itens-center text-dark gpx-5" href=""><i class="fa-solid fs-10 fa-signal-stream"></i>Serviços</a></li>
                <li><a class="flex flex-col justify-center itens-center text-dark gpx-5" href="/admin"><i class="fa-solid fs-10 fa-books"></i>Agendamentos</a></li>
            </ul>
            <div class="line">

            </div>
        </nav>
    </header>
    <section class="bg-dark text-white content flex itens-center justify-around">
        <div class="flex flex-col gpx-5">
            <h1>Agendamento de Lava Rápido</h1>
            <form action="/agendar" method="post" class="flex flex-col gpx-5 px-10">
                <label for="" class="px-10 flex gpx-5 itens-center">
                    <i class="fa-solid fa-car fs-20"></i>
                    <input class="input-txt px-5 w-full" type="text" name="veiculo" placeholder="veiculo">
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-rectangle-wide fs-20"><p class="placa">123</p></i>
                    <input class="input-txt px-5 w-full" type="text" name="placa" placeholder="Placa">
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-thumbs-up fs-20"></i>
                    <select name="servico" class="input-txt px-5 w-full">
                        <option value="Lavagem técnica detalhada">Lavagem técnica detalhada</option>
                        <option value="Higienização de bancos">Higienização de bancos</option>
                        <option value="Higienização de bancos de couro e hidratação">Higienização de bancos de couro e hidratação</option>
                        <option value="Higienização de teto">Higienização de teto</option>
                        <option value="Higienização de carpete">Higienização de carpete</option>
                        <option value="Higienização interna completa">Higienização interna completa</option>
                        <option value="Restauração de farol">Restauração de farol</option>
                        <option value="Lavagem técnica de motor">Lavagem técnica de motor</option>
                    </select>
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-location-dot fs-20"></i>
                    <input class="input-txt px-5 w-full" type="text" name="endereco" placeholder="endereço">
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-user fs-20"></i>
                    <input class="input-txt px-5 w-full" type="text" name="nome" placeholder="Nome">
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-phone fs-20"></i>
                    <input class="input-txt px-5 w-full" type="text" name="telefone" placeholder="Telefone">
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-calendar-days fs-20"></i>
                    <input class="input-txt px-5 w-full" type="date" name="data">
                </label>
                <label class="px-10 flex gpx-5 itens-center" for="">
                    <i class="fa-solid fa-clock fs-20"></i>
                    <select name="data_hora" class="input-txt px-5 w-full">
                        {% for hora in range(8, 19) %}
                            {% for minuto in ['00', '15', '30', '45'] %}
                                <option value="{{ '%02d:%s' % (hora, minuto) }}">{{ '%02d:%s' % (hora, minuto) }}</option>
                            {% endfor %}
                        {% endfor %}
                    </select>
                </label>
                <label class="px-10 flex gpx-5 itens-center justify-center" for="">
                    <input class="btn-submit" type="submit" value="Agendar">
                </label>
            </form>
        </div>
        <div class="text-dark">
            <div id="container">
                <div id="header">
                  <div id="monthDisplay"></div>
          
                  <div>
                    <button id="backButton">Voltar</button>
                    <button id="nextButton">Próximo</button>
                  </div>
                    
                </div>
          
                <div id="weekdays">
                  <div>Domingo</div>
                  <div>Segunda</div>
                  <div>Terça</div>
                  <div>Quarta</div>
                  <div>Quinta</div>
                  <div>Sexta</div>
                  <div>Sábado</div>
                </div>
          
          
                <!-- div dinamic -->
                <div id="calendar" ></div>
          
             
            </div>
          
            <div id="newEventModal">
              <h2>New Evente</h2>
          
              <input id="eventTitleInput" placeholder="Event Title"/>
          
              <button id="saveButton"> Salvar</button>
              <button id="cancelButton">Cancelar</button>
            </div>
          
            <div id="deleteEventModal">
              <h2>Evento</h2>
          
              <div id="eventText"></div><br>
          
          
              <button id="deleteButton">Deletar</button>
              <button id="closeButton">Fechar</button>
            </div>
          
            <div id="modalBackDrop"></div>          
        </div>
    </section>
    <script src="/assets/js/main.js"></script>
</body>
</html>
