<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/login.css">
    <title>Login</title>
</head>
<body>
    <div class="flex justify-center itens-center justify-center">
        <form method="POST" action="/login" class="form flex flex-col itens-center gpx-5 px-10">
            <h2>Lava Rapido</h2>
            
            <label for="">
                <p>usuario</p>
                <input type="text" name="usuario">
            </label>
            <label for="">
                <p>senha</p>
                <input type="password" name="senha">
            </label>
            <button type="submit" class="btn-submit">Entrar</button>
        </form>
    </div>
</body>
</html>